
<!-- <div class="row ">
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2 border-rad-20">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 ">
                      <div class="text-xs font-weight-bold text-primary text-uppercase  mb-1">Monthly
                          Active Client</div>
                      <div class="h5 mx-3 font-weight-bold text-gray-800">34,000</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-hospital-user fa-2x text-primary"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2 border-rad-20">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2  ">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New
                          Client</div>
                      <div class="h5 mx-3 font-weight-bold text-gray-800">897</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-users-medical fa-2x text-warning"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2 border-rad-20">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 ">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Patient for
                          follow up's</div>
                      <div class="h5 mx-3 font-weight-bold text-gray-800">45</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-stethoscope fa-2x text-info"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4 ">
      <div class="card border-left-danger shadow h-100 py-2 border-rad-20">
          <div class="card-body  ">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 ">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Patient
                          for Treatment</div>
                      <div class="h5 mx-3 font-weight-bold text-gray-800">876</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-procedures fa-2x text-danger"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>


</div> -->

<router-outlet></router-outlet>
